HTML, BODY {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #D4D4D4;
	font-family: sans-serif;
	text-decoration: none;
}

SECTION {
	background-image:url('images/bg.gif');
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

NAV {
	background-image:url('images/Qbar.gif');
	background-repeat: repeat-x;
	height:98px;
	width:790px;
	padding-top:14px;
	font-size:32px;
	color:#FFFFFF;
	z-index:2;
	text-shadow: 2px 2px 3px #000;
	
}

NAV DIV {
	background-image:url('images/play.gif');
	background-repeat: no-repeat !important;
	background-position: 15px 0;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	cursor:pointer;
	text-align:center;
}

#canvas {
	background-color:transparent;
}

DIV#animation {
	display:none;
	position:absolute;
	top:0;
	left:0;
	z-index:2;
}
DIV#question {
	width:790px; /*SASSify?*/
	position:absolute;
	display:none;
	top:-700px;
	z-index:0;
}

.question {
	background-color:rgba(0,0,0,0.5);
	background-image: url('images/meatball.gif');
	background-repeat: no-repeat;
	background-position: 10px 10px;
	font-size:22px;
	color:#e3e3c6;
	height:64px;
	margin:20px 0px;
}
.question:hover {
	background-color:rgba(102,204,255,0.5);
	background-size:48px 48px;
	cursor:pointer;
}

.question DIV {
	opacity: 1 !important;
	vertical-align:top;
	text-shadow: 2px 2px 3px #000;
	margin-top:18px;
	margin-left:23px;
	display: inline-block;

}

DIV.choice {
	color:#FFF;
}

.question:hover DIV.choice {
	font-size:26px;
	padding-left:2px;
}